//  swatch
//  ---------------------

/*
<div class="swatch-card">
    <div class="swatch swatch--textcolor">
        <input type="color" value="#dd0000">
    </div>
    <label for="text-color">Text</label>
</div>
*/

.swatch-card {
	display: inline-block;
	padding: 4px;
	background-color: #fff;
	color: #666;
	text-align: center;
	font: normal 12px/1 sans-serif;
	border: solid 1px rgba(230, 230, 230, 0.9);

	label {
		color: #555;
	}

}

.swatch {
	position: relative;
	background-position: center center;
	background-attachment: fixed;
	color: rgba(120, 120, 120, 0.6);
	border: solid 1px rgba(120, 120, 120, 0.3);
}

input[type="color"] {
	cursor: pointer;
	opacity: 0;
	display: block;
	width: 50px;
	height: 50px;
	margin-bottom: 4px;
	border: none;
}


.swatch-card + .swatch-card {
	margin-left: 5px;
}

@media only screen and (min-width: $breakpoint-small) {
	input[type="color"] {
		width: 60px;
		height: 60px;
	}
}