%clearfix {
	@include clearfix;
}
.ellipsis {
	@include ellipsis;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.help--block {
	display: block;
	margin-bottom: 0.5em;
}
.help--inline {
	display: inline-block;
	margin-right: 0.5em;
	margin-left: 0.5em;
	vertical-align: middle;
}
.nowrap {
	white-space: nowrap;
}

%image-replace {
	@include hide-text;
	background-repeat: no-repeat;
}
.img--fluid {
	max-width: 100%;
}
.upcase {
	text-transform: uppercase;
}
.text-centered {
	text-align: center;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
	display: none !important;
	visibility: hidden;
}
// Hide only visually: h5bp.com/v
.visuallyhidden {
	@include visuallyhidden;
}
// Hide visually and from screenreaders, but maintain layout
.invisible {
	visibility: hidden;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.warning {
	background-color: $warning-bg;
}